# --- PYTHON (Back) ---
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
venv/
.venv/
env/
.env
.env.*

# --- FLUTTER / DART (Front) ---
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.flutter-versions
**/*.iml

# --- ANDROID & IOS ---
**/android/.gradle/
**/android/local.properties
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.last_build_id

# --- IDE & SYSTEM ---
.idea/
.vscode/
**/.DS_Store
*.log
*.swp
node_modules/